[Unit]
Description=Espresso PID service
After=multi-user.target

[Service]
#Environment="SCRIPT_ARGS=--boiler-therm-clk-pin 23 --boiler-therm-cs-pin 27 --boiler-therm-miso-pin 22 --verbose"
#Environment ="SCRIPT_ARGS=%I"
ExecStart=/bin/bash --login -c "/usr/bin/espresso --boiler-therm-clk-pin 23 --boiler-therm-cs-pin 27 --boiler-therm-miso-pin 22 --verbose"
[Install]
WantedBy=multi-user.target

