[Unit]
Description=Sparkfun micro oled service
After=multi-user.target espresso.service

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/espresso-controller/pkg/espressopb/grpc_client_micro_oled.py

[Install]
WantedBy=multi-user.target

